<div class="py-5 text-center opaque-overlay" style="background-image: url(https://pingendo.github.io/templates/sections/assets/cover_event.jpg);">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 text-white">
        <h1 class="display-3 mb-4">Hero image intro</h1>
        <p class="lead mb-5">Pingendo is a HTML editor for everyone. Easy for newbies, useful for professionals.
          <br>Code quality is a must. Pingendo generates clean, battle-tested, modular Bootstrap 4 code. </p>
        <a href="#" class="btn btn-lg mx-1 btn-secondary">A claim here</a>
        <a href="#" class="btn btn-lg btn-primary mx-1">Your call to action</a>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center display-3 text-primary">Article title</h1>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <% if @projects %>
              <% @projects.each do |project| %>
                <div class="col-md-3">
                  <%= image_tag(project.image, class: 'img-fluid d-block w-100 mb-3 rounded') %>
                  <div class="_description">
                    <%= auto_link(markdown(project.description).truncate(100, omission: '...'), :html => { :target => '_blank' }) %>
                  </div>
                  <%= link_to 'もっと見る', project_path(project.id), :class => 'btn btn-outline-primary text-center w-100' %>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="pb-3 text-secondary">Sometimes is just matter to write things clear.&nbsp;</h1>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-md-6">
        <div class="row my-5">
          <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-columns fa-3x"></i></div>
          <div class="col-10 text-lg-right text-left order-lg-1">
            <h4 class="text-primary">Responsive design</h4>
            <p>Based on fluid design principles.
              <br>Works with screen resolution</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-circle-thin fa-4x"></i></div>
          <div class="col-10 text-lg-right text-left order-lg-1">
            <h4 class="text-primary">Customized settings</h4>
            <p>Choose settings depending on the criteria you value the most</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa  fa-comment-o fa-3x"></i></div>
          <div class="col-10 text-lg-right text-left order-lg-1">
            <h4 class="text-primary">Connect</h4>
            <p>In-app chat panel 24/7 active.
              <br>The support you need, right there.</p>
          </div>
        </div>
      </div>
      <div class="text-left col-md-6">
        <div class="row my-5">
          <div class="col-2 text-center"><i class="d-block fa fa-battery-empty fa-3x"></i></div>
          <div class="col-10">
            <h4 class="text-primary">Battery-friendly</h4>
            <p>Non consuming background operation
              <br>Pingendo enhance the battery duration.</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 text-center"><i class="d-block mx-auto fa  fa-clone fa-3x"></i></div>
          <div class="col-10">
            <h4 class="text-primary">Multilayers</h4>
            <p>Work simultaneously on different panels.
              <br>Share the work with teammates.</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 text-center"><i class="d-block fa  fa-heart-o fa-3x"></i></div>
          <div class="col-10">
            <h4 class="text-primary">Share the love</h4>
            <p>Help us spreading the word.
              <br>Tell your friends with just one-click</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>