
<div class="col-md-8 col-md-offset-2" id="projects">

  <h4>プロジェクト一覧</h4>
  <small>登録したプロジェクト一覧が表示されます。</small>
  <div class="m-t-10">
    <%= link_to '新規作成', new_user_project_path, class: 'btn btn-default' %>
    <div id="project_list">
      <% if @projects.present? %>
          <ul>
            <% @projects.each do |project| %>
                <li>
                  <i class="fa fa-<%= project.status %>" aria-hidden="true"></i>
                  <%= link_to project.title, '#' %>
                  <span class="_action">
                    <%= link_to '編集', edit_user_project_path(project.id), class: '_link' %>
                  </span>
                </li>
            <% end %>
          </ul>
      <% else %>
          <h4 class="text-center">プロジェクトはまだありません</h4>
      <% end %>
    </div>
  </div>
</div>