<div id="portfolio">
  <div id="showcase">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h3>トビタテプロジェクト一覧</h3>
          <p><a href="http://www.tobitate.mext.go.jp/">トビタテ留学JAPAN日本代表プログラム</a>に参加した人が携わるプロジェクト一覧です。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="project">
            <h3>つながる海外コミュニティ Canpath</h3>
            <div class="screen">
              <%= image_tag('canpath_header.png', class: 'img-responsive') %>
            </div>
            <p class="description">
              CANPATHは、海外に行く日本人を増やしたいという想いから生まれました。
              Startup Weekend Yokohamaという素晴らしいイベントで出会ったメンバーと共に、
              様々な方からのアドバイスに支えられながらイベント終了後もサービスを継続させています。
              海外体験を共有できるサービスを提供し、世界へ飛び立つキッカケが生まれる場所を目指しています。
            </p>
            <div class="divider"></div>
            <div class="visit">
              <a class="button" href="">
                このプロジェクトをもっと見る
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
