/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */

body {
  font-family: 'Noto Sans Japanese' !important;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

._unstyled, ._unstyled:hover {
  text-decoration: none;
}