/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
  padding: 0;
}

.m-t-10 {
  margin-top: 10px;
}

#signup {
  background: #ffffff;
  .wrapper {
    border: 2px solid #EDEDED;
  }
  a, h4 {
    color: #222 !important;
  }
}

.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#projects {
  ._project {
    margin-top: 20px;
    border: 1px solid #EDEDED;
    padding: 15px;
    .form-group {
      margin-top: 30px;
    }
  }
  ._link {
    margin-left: 10px;
  }
}