// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.project {
  height: 700px;
  .project_wrapper {
    min-height: 500px;
  }
}

.c-white {
  color: #fff;
}

#profile_edit {
  margin-top: 30px;
  .card {
    background-color: #fff;
    padding: 15px 30px;
  }
  .field {
    margin-top: 15px;
  }
  .border_danger {
    border: 3px solid #cb0000;
    padding: 20px 30px;
    margin: 30px;
  }
}

#profile {
  margin-top: 30px;
  .card {
    background-color: #fff;
    padding: 15px 30px;
  }
  table {
    border-spacing: 10px;
    border-collapse: separate;
  }
}