// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

._description {
  height: 180px;
  max-height: 180px;
  margin-bottom: 1rem;
  overflow-y: hidden;
}