<div class="col-md-8 col-md-offset-2" id="profile">
  <div class="card">
    <h3>プロフィール</h3>
    <table>
      <tbody>
      <tr>
        <td>名前: </td>
        <td><%= @profile.name %></td>
      </tr>
      <tr>
        <td>トビタテ期: </td>
        <td><%= @profile.term %></td>
      </tr>
      <tr>
        <td>作成日: </td>
        <td><%= @profile.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <%= link_to '編集', edit_user_profile_path(current_user), class: 'btn btn-default' %>
</div>