// Place all the styles related to the user/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects {
  margin-top: 30px;
  #project_list {
    border: 1px solid #EDEDED;
    padding: 15px;
  }
}