<div class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-secondary">Pingendo</h2>
        <p class="text-white">A company for whatever you may need, from website prototyping to publishing</p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-secondary">Mapsite</h2>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white">Home</a>
          </li>
          <li>
            <a href="#" class="text-white">About us</a>
          </li>
          <li>
            <a href="#" class="text-white">About us</a>
          </li>
          <li>
            <a href="#" class="text-white">About us</a>
          </li>
        </ul>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">Contact</h2>
        <p>
          <a href="tel:+246 - 542 550 5462" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
        </p>
        <p>
          <a href="mailto:info@pingendo.com" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
        </p>
        <p>
          <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
        </p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-light">Subscribe</h2>
        <form>
          <fieldset class="form-group text-white"> <label for="exampleInputEmail1">Get our newsletter</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> </fieldset>
          <button type="submit" class="btn btn-outline-secondary">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-white">© Copyright 2017 Pingendo - All rights reserved. </p>
      </div>
    </div>
  </div>
</div>