<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 copyright">
        Tomarigi 2017
      </div>
      <div class="col-sm-3 col-sm-offset-6 copyright">
        <%= link_to 'Login', user_google_oauth2_omniauth_authorize_path %>
      </div>
    </div>
  </div>
</div>