<div class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-secondary">とまりぎ</h2>
        <p class="text-white">とまりぎ、は <a href="http://www.tobitate.mext.go.jp/" target="_blank" rel="noopener noreferrer" class="text-white">トビタテ!留学JAPAN日本代表プログラム</a>における同窓会組織です。</p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-secondary">サイトマップ</h2>
        <ul class="list-unstyled">
          <li>
            <%= link_to 'ホーム', root_path, class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'プロジェクト一覧', projects_path, class: 'text-white' %>
          </li>
        </ul>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-secondary">Contact</h2>
        <p>
          <a href="mailto:info@tobitate-tomarigi.org" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@tobitate-tomarigi.org</a>
        </p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-secondary">Github</h2>
        <div class="form-group text-white">
          <label for="exampleInputEmail1">バグ報告、要望等はこちらにお願いします。</label>
          <ul>
            <li> - <%= link_to 'Github', 'https://github.com/tomarigi/projects/issues', class: 'text-white' %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-white">© Copyright 2017 とまりぎ - All rights reserved. </p>
      </div>
    </div>
  </div>
</div>