<header class="navbar navbar-inverse normal" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Tobitate Portfolio', root_path, :class => 'navbar-brand' %>
    </div>
  </div>
</header>
